{% extends 'model/templateDetail.html' %}
{% block title %}Aluno{% endblock %}
{% block linkVolta %}{% url 'aluno-lista' %}{% endblock %}
{% block titlePage %}{{ object.nome }}{% endblock %}
{% block content %}
        <div class="col-lg-1">
            <strong class="fs-4">ID: </strong>
            <span class="fs-4">{{ object.id }}</span>
        </div>
        <div class="col-lg-2">
            <strong class="fs-4">RA: </strong>
            <span class="fs-4">{{ object.ra }}</span>
        </div>
        <div class="col-lg-4">
            <strong class="fs-4">Usuário Discord: </strong>
            <span class="fs-4">{{ object.usuarioDiscord }}</span>
        </div>
        <div class="col-lg-4">
            <strong class="fs-4">RFID: </strong>
            <span class="fs-4">{{ object.rfID }}</span>
        </div>
{% endblock %}

