{% extends 'model/templateDetail.html' %}
{% block title %}Disciplina{% endblock %}
{% block linkVolta %}{% url 'disciplina-lista' %}{% endblock %}
{% block titlePage %}{{ object.projeto }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1">
            <strong class="fs-4">ID: </strong>
            <span class="fs-4">{{ object.id }}</span>
        </div>
        <div class="col-3">
            <strong class="fs-4">Nome do Professor: </strong>
            <span class="fs-4">{{ object.nomeProfessor }}</span>
        </div>
        <div class="col-4">
            <strong class="fs-4">ID do Professor: </strong>
            <span class="fs-4">{{ object.idProfessor }}</span>
        </div>
    </div>
{% endblock %}