{% extends 'model/templateList.html' %}
{% block title %}Disciplinas{% endblock %}
{% block linkButton %}{% url 'disciplina_nova' %}{% endblock %}
{% block buttton %}Novo Projeto{% endblock %}
{% block content %}
    <table class="table">
        <tr>
            <th scope="col" class="col-lg-4">Projeto</th>
            <th scope="col" class="col-lg-4">Professor</th>
            <th scope="col" class="col-lg-3">Ação</th>
        </tr>
        {% for disciplina in disciplinas %}
        <tr>
            <td >
                {{ disciplina.projeto }}
            </td>
            <td>
                {{ disciplina.nomeProfessor }}
            </td>
            <td>
                <a href="/disciplina/{{ disciplina.id }}" class="text-decoration-none">
                    <button type="button" class="btn btn-secondary">Detalhes</button>
                </a>
                <a href="/disciplina/{{ disciplina.id }}/update/" class="text-decoration-none">
                    <button type="button" class="btn btn-primary">Editar</button>
                </a>
                <a href="/disciplina/{{ disciplina.id }}/delete/" class="text-decoration-none">
                    <button type="button" class="btn btn-danger">Deletar</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}