{% extends 'model/templateList.html' %}
{% block title %}Aulas{% endblock %}
{% block linkButton %}{% url 'aula_nova' %}{% endblock %}
{% block buttton %}Nova Aula{% endblock %}
{% block content %}
    <table class="table">
        <tr>
            <th scope="col" class="col-lg-4">Aula</th>
            <th scope="col" class="col-lg-4">Data/Hora</th>
            <th scope="col" class="col-lg-3">Ação</th>
        </tr>
        {% for aula in aulas %}
        <tr>
           {% load tz %}
            <td >
                {{ aula.nmAula }}&nbsp
            </td>
            <td>
                {% timezone "America/Sao_Paulo" %}
                    {{ aula.dataHora.astimezone }}&nbsp
                {% endtimezone %}
            </td>
            <td>
                <a href="/aula/{{ aula.id }}" class="text-decoration-none">
                    <button type="button" class="btn btn-secondary">Detalhes</button>
                </a>
                <a href="/aula/{{ aula.id }}/update/" class="text-decoration-none">
                    <button type="button" class="btn btn-primary">Editar</button>
                </a>
                <a href="/aula/{{ aula.id }}/delete/" class="text-decoration-none">
                    <button type="button" class="btn btn-danger">Deletar</button>
                </a>
            </td>

        </tr>
        {% endfor %}
    </table>
{% endblock %}