{% extends 'model/templateDetail.html' %}
{% block title %}Aula{% endblock %}
{% block linkVolta %}{% url 'aula-lista' %}{% endblock %}
{% block titlePage %}{{ object.nmAula }}{% endblock %}
{% block content %}
        <div class="col-lg-1">
            <strong class="fs-4">ID: </strong>
            <span class="fs-4">{{ object.id }}</span>
        </div>
        <div class="col-lg-5">
            <strong class="fs-4">Data/hora: </strong>
            <span class="fs-4">{{ object.dataHora }}</span>
        </div>
{% endblock %}