{% extends 'model/templateForm.html' %}
{% block title %}Aula{% endblock %}
{% block linkVolta %}{% url 'aula-lista' %}{% endblock %}
{% block content %}
    {%csrf_token%}
    <div class="row">
        <label class="p-0">Data</label>
        {{ form.data }}
    </div>
    <div class="row">
        <label class="p-0">Curso</label>
        {{ form.curso }}
    </div>
    <div class="row">
        <label class="p-0">Periodo</label>
        {{ form.periodo }}
    </div>
    <div class="row">
        <label class="p-0">Disciplina</label>
        {{ form.disciplina }}
    </div>
{% endblock %}
