<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aulas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4">
                <a href="/aula/nova/">
                    <button type="button" class="btn btn-success">Nova Aula</button>
                </a>
            </div>
            <img src="https://ik.imagekit.io/28ipjvuevaj/imgs/logo-uad.png" class="logo-menu w-25 h-25 col-lg-7">
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th scope="col-lg-5">Aula</th>
                    <th scope="col-lg-5">Data/Hora</th>
                    <th scope="col-lg-2">Ação</th>
                </tr>
                {% for aula in aulas %}
                <tr>
                   {% load tz %}
                    <td >
                        {{ aula.nmAula }}&nbsp
                    </td>
                    <td>
                        {% timezone "America/Sao_Paulo" %}
                            {{ aula.dataHora.astimezone }}&nbsp
                        {% endtimezone %}
                    </td>
                    <td>
                        <a href="/aula/{{ aula.id }}">
                        <button type="button" class="btn btn-primary">Detalhes</button>
                        </a>
                    </td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>