<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aulas</title>
</head>
<body>
    <a href="/aula/nova/">
        <button>Nova Aula</button>
    </a>
    <table>
        <tr>
            <th>Aula</th>
            <th>Data/Hora</th>
            <th>Ações</th>
        </tr>
        {% for aula in aulas %}
        <tr>
           {% load tz %}
            <td>
                {{ aula.disciplina }}&nbsp
            </td>
            <td>
                {% timezone "America/Sao_Paulo" %}
                    {{ aula.dataHora.astimezone }}&nbsp
                {% endtimezone %}
            </td>
            <td>
                <a href="/aula/{{ aula.id }}">
                <button>Detalhes</button>
                </a>
            </td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>