{% extends 'model/templateDetail.html' %}
{% block title %}Chamada{% endblock %}
{% block linkVolta %}{% url 'presenca-lista' %}{% endblock %}
{% block content %}
        <div class="row">
                <strong class="col-lg-3 fs-3">{{ object.aluno.nome }}</strong>
                <div class="col-lg-1">
                    <strong class="fs-4">ID: </strong>
                    <span class="fs-4">{{ object.id }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <strong class="fs-4">Aula: </strong>
                    <span class="fs-4">{{ object.aula.nmAula }}</span>
                </div>
                <div class="col-lg-1">
                    <a href="/presenca/{{ object.id }}/update/">
                        <button type="button" class="btn btn-primary">Editar</button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <strong class="fs-4">Data/Hora: </strong>
                    <span class="fs-4">{{ object.aula.dataHora.astimezone }}</span>
                </div>
                <div class="col-lg-3">
                    <strong class="fs-4">Presença: </strong>
                    {% if object.presenca == True %}
                        <span class="fs-4"> Presente </span>
                    {% else %}
                        <span class="fs-4"> Faltou </span>
                    {% endif %}
                </div>
            </div>
{% endblock %}

