{% extends 'model/templateList.html' %}
{% block title %}Chamada{% endblock %}
{% block linkButton %}{% url 'presenca_nova' %}{% endblock %}
{% block buttton %}Nova Chamada{% endblock %}
{% block content %}
    <table class="table">
        <tr>
            <th scope="col" class="col-lg-5">Nome</th>
            <th scope="col" class="col-lg-5">Presença</th>
            <th scope="col" class="col-lg-1">Ação</th>
        </tr>
        {% for chamada in presencas %}
        <tr>
            <td >
                {{ chamada.aluno.nome }}
            </td>
            <td>
                {% if chamada.presenca == True %}
                    Presente
                {% else %}
                    Faltou
                {% endif %}
            </td>
            <td>
                <a href="/presenca/{{ chamada.id }}">
                    <button type="button" class="btn btn-primary">Detalhes</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}